<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/u/notebook}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- TODO make form which call new notice-->
          <a class="nav-link" th:href="@{/notice/}">Add notice</a>
        </li>
        <li class="nav-item">
          <!-- TODO make form which call new contact-->
          <a class="nav-link" th:href="@{/notice/}">Add notice</a>
        </li>
        <li class="nav-item">
          <!-- TODO make form which call new notice-->
          <a class="nav-link" th:href="@{/notice/}">Add notice</a>
        </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
        <li class="nav-item"> </li>
      </ul>
    </div>
  </nav>
</header>